
{% load static %}
<html>
    <head>
        <title>Energency help</title>
    </head>
    <style>
        body {
            background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: black;
     text-align: center;
     font-size: 60px;
        }
        table{
          width:100%;
          font-size: 60px;
        }
        .container img{
          margin-left: 5%;
        }
        .container td{
          font-size: 20px;
        }
        .container th{
          font-size: 20px;
        }
    </style>
    <body>
      {%include "navbar.html"%}
      <div class = "message" style="background: linear-gradient(to right, #b92b27, #1565c0);
      color:blanchedalmond; background-repeat: no-repeat; height:100%;">

        <div class="container">

        <table border ="2">
          <img src="{%static "emergency.jpg"%}" alt="">
          <tr>
            <th>Sectors</th>
            <th>Helpline Number</th>
          </tr>
          <tr>
            <td>Ambulance</td>
            <td>999 or 112</td>
          </tr>
          <tr>
            <td>Police</td>
            <td>999 or 112</td>
          </tr>
          <tr>
            <td>Fire</td>
            <td>999 or 112</td>
          </tr>
            <tr>
              <td>coast guard</td>
              <td>999 or 112</td>
            </tr>
            <tr>
              <td>Samaritans - Listening Service</td>
              <td>0292 034 4022</td>
            </tr>
            <tr>
              <td>Victim Support Line:</td>
              <td>0808 168 9111</td>
            </tr>
            <tr>
              <td>Report a Hate Crime:</td>
              <td>0300 303 1982</td>
            </tr>
            <tr>
              <td>police (non-emergency)</td>
              <td>101</td>
            </tr>

        </table>
</div>
      </div>
    </body>
</html>
