{% load static %}
<html>
    <head>
        <title>Refugees</title>
    </head>
    <style>
        body {
            background-image: url(https://i.pinimg.com/originals/00/5e/7b/005e7b665a61d4f71e52ad626dd3ec56.png);
            background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: black;
     text-align: center;
     font-size: 70px;
        }
    </style>
    <body>
        <script src = "{% static 'assets/js/translate/translate.js'%}"></script>
            <script src = "{% static 'assets/js/translate/translate2.js'%}"></script>
            <div id="translation" style = "float: left;"></div>
        <H1>Refugees</H1>
        
    </body>
</html>